* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, monofur Nerd Font, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.8);
    border-bottom: 3px solid rgba(50, 40, 47, 0.5);
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#tags button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#tags button.focused {
    background-color: #928374;
    box-shadow: inset 0 -3px #ffffff;
}

#tags button.urgent {
    background-color: #cc241d;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-media {
    padding: 0 10px;
    color: #282828;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #928374;
}

#battery {
    background-color: #458588;
    color: #1d2021;
}

#battery.charging, #battery.plugged {
    color: #1d2021;
    background-color: #d65d8e;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #fb4934;
    color: #1d2021;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    background-color: #83a598;
    color: #282828;
}

#network.disconnected {
    background-color: #d3869b;
}

#pulseaudio {
    background-color: #d65d8e;
    color: #282828;
}

#pulseaudio.muted {
    background-color: #928374;
    color: #282828;
}

#tray {
    background-color: #458588;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #cc241d;
}

#custom-media {
    background-color: #b16286;
    color: #ebdbb2;
}

#custom-media.disconnected {
    background-color: #b16286;
}

#custom-media.stopped {
    background-color: #d3869b;
}

#custom-media.paused {
    background-color: #3c3836;
    color: #d5c4a1;
}

